<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Questão 02</title>
</head>
<body>
  <h1>Cores</h1>
    <li><a onmouseover=rosa() href="">Rosa</a></li> <br>
    <li><a onmouseover=azul() href="">Azul</a></li> <br>
    <li><a onmouseover=roxo() href="">Roxo</a></li> <br>
    <li><a onmouseover=amarelo() href="">Amarelo</a></li>
  
  
  
  <script src="questao02.js"></script>
</body>
</html>